* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(247, 241, 241);
}
img {
  /* width: 100%; */
}
h1 {
  font-size: 1.5rem;
}

/*HEADER*/

.barra-logo {
  width: 100%;
  background: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

h1.text-logo {
  color: rgb(21, 117, 21);
  text-align: center;
}
h1.text-logo span {
  color: rgb(6, 167, 6);
}
img.logo {
  border-radius: 50%;
}
.barra {
  margin-top: 0rem;
}
.barra-nav {
  margin: 3rem 1rem;
  display: flex;
  justify-content: space-between;
}

a {
  margin: 1rem;
  padding: 0rem 1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}
button {
  padding: 0.2rem 0.5rem;
  background-color: rgb(21, 117, 21);
  background: linear-gradient(10deg, rgb(21, 117, 21), rgb(6, 167, 6));
  border-radius: 1.5rem;
  outline: none;
  border: none;
  margin: 0.5rem 0.2rem;
  display: flex;
}
button:hover {
  background: linear-gradient(10deg, rgb(13, 71, 13), rgb(4, 122, 4));
}
.boton-aprende {
  margin: 1rem auto;
  padding: 0.2rem 2rem;
}

i {
  font-size: 2rem;
  margin: 0.5rem 0 0 0.8rem;
  color: rgb(2, 37, 2);
}

.hero {
  width: 75%;
  margin: 0 auto;

  background-size: cover;
}
.img-principal {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 30%;
}

.formulario {
  margin-top: 4.5rem;
}

/*CURSOS*/
h2.titulo-cursos {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(2, 37, 2);
}

.cursos {
  width: 90%;
  margin: 1rem auto;
  border: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.curso {
  text-align: center;
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
}
.clase-curso {
  color: rgb(163, 75, 41);
  font-size: 1.5rem;
}
.descripcion {
  color: rgb(2, 37, 2);
}
.precio {
  color: rgb(153, 202, 17);
  font-size: 1.5rem;
}
.precio span {
  color: rgb(2, 37, 2);
}
.carritos {
  font-size: 1.2rem;
  margin: 1rem 0.1rem;
}
.carrito {
  width: 100%;
}
/**/
.submenu {
  position: relative;
  left: 5%;
}

.submenu #carrito {
  display: none;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  left: -100px;
  background-color: white;
  padding: 10px;
  margin-top: 0.9rem;
  min-height: 400px;
  min-width: 500px;
}
.vacio {
  padding: 10px;
  background-color: crimson;
  text-align: center;
  border-radius: 10px;
  color: white;
}
.contenido-hero {
  margin-top: 80px;
  color: white;
}

ul {
  margin: 0;
  width: 60%;
  list-style: none;
}

li {
  list-style: none;
}
table {
  width: 100%;
  box-sizing: border-box;
  margin-right: 10rem;
  background-color: white;
}

/**/

#lista-cursos .row {
  margin-bottom: 20px;
}
.agregar-carrito {
  margin: 17px 0;
}

.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
}
@media (min-width: 550px) {
  .card {
    text-align: left;
  }
}
.info-card {
  padding: 10px 20px;
}

.info-card p,
.card h4 {
  margin-bottom: 5px;
}
.info-card .precio {
  text-decoration: line-through;
  font-size: 18px;
  margin-top: 10px;
}
.info-card .precio span {
  font-weight: 700;
  font-size: 22px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 40px;
}
.footer .menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
/*bb*/
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-color: gray;
  border-top: 1px solid #0a0707;
}
a button {
  color: #0a0707;
}
th {
  color: rgb(4, 99, 4);
  border-radius: 0rem;
  margin-right: 1.5rem;
}
/*BORRAR CURSO*/
a.borrar-curso {
  color: rgb(4, 99, 4);
}
